{% if page_obj.has_other_pages %}
<div class="join">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-sm">قبلی</a>
  {% else %}
  <button class="join-item btn btn-sm btn-disabled">قبلی</button>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <button class="join-item btn btn-sm btn-active">{{ num }}</button>
    {% else %}
      <a href="?page={{ num }}" class="join-item btn btn-sm">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-sm">بعدی</a>
  {% else %}
  <button class="join-item btn btn-sm btn-disabled">بعدی</button>
  {% endif %}
</div>
{% endif %}