{% extends 'master.html' %}
{% load static %}
{% block title %} سبد خرید | {% endblock %}
{% load jalali_tags %}


	{% block content %}
		<!-- MainContent -->
			<main class="flex-grow container mx-auto px-4 py-10">
			    <h1 class="flex gap-2 text-3xl font-bold mb-8 text-center text-[#e66700]">
			    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" fill="currentColor"><path d="M6.00488 9H19.9433L20.4433 7H8.00488V5H21.7241C22.2764 5 22.7241 5.44772 22.7241 6C22.7241 6.08176 22.7141 6.16322 22.6942 6.24254L20.1942 16.2425C20.083 16.6877 19.683 17 19.2241 17H5.00488C4.4526 17 4.00488 16.5523 4.00488 16V4H2.00488V2H5.00488C5.55717 2 6.00488 2.44772 6.00488 3V9ZM6.00488 23C4.90031 23 4.00488 22.1046 4.00488 21C4.00488 19.8954 4.90031 19 6.00488 19C7.10945 19 8.00488 19.8954 8.00488 21C8.00488 22.1046 7.10945 23 6.00488 23ZM18.0049 23C16.9003 23 16.0049 22.1046 16.0049 21C16.0049 19.8954 16.9003 19 18.0049 19C19.1095 19 20.0049 19.8954 20.0049 21C20.0049 22.1046 19.1095 23 18.0049 23Z"></path></svg>
			    سبد خرید شما
				</h1>

			    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

			    	{% if cart %}
						<!-- محصولات -->
						<div class="lg:col-span-2 space-y-4">
							{% for product_id, item in cart.items %}
								<!-- کارت محصول -->
								<div class="card bg-base-100 shadow-md p-4 relative">
								  <!-- دکمه حذف -->
						            <form action="{% url 'remove_from_cart' product_id %}" method="post">
						              {% csrf_token %}
										<button class="absolute top-3 left-3 text-error text-sm hover:underline cursor-pointer">
										    ✕ حذف از سبد
										</button>
									</form>
								  <div class="flex items-center gap-5">
								    <!-- تصویر محصول -->
								    <img src="{{ item.image }}" alt="{{ item.title }}" class="w-24 h-24 rounded-xl object-cover shadow-sm border" />

								    <!-- جزئیات محصول -->
								    <div class="flex-1">
								      <h2 class="font-bold text-lg mb-1">{{ item.title }}</h2>
								      <p class="text-sm text-gray-500 mb-2">{{ item.category }}</p>
								      <p class="text-primary font-bold text-lg mb-4">{{ item.price }} تومان</p>

								      <!-- تعداد -->
								      <div class="flex items-center gap-2">
								      	<form action="{% url 'decrease_quantity' product_id %}" method="post">
										    {% csrf_token %}
								        	<button class="btn btn-sm">−</button>
								        </form>
								        <span class="font-semibold w-6 text-center">{{ item.quantity }}</span>
								        <form action="{% url 'increase_quantity' product_id %}" method="post">
										    {% csrf_token %}
										    <button class="btn btn-sm">+</button>
										</form>
								        
								      </div>
								    </div>
								  </div>
								</div>
							{% endfor %}
						</div>

						<!-- خلاصه سفارش -->
						<div class="card bg-base-100 shadow-lg p-6 h-fit">
						<h2 class="text-xl font-bold mb-4 text-center">خلاصه سفارش</h2>

						<div class="flex justify-between">
						  <span>جمع جزء</span>
						  <span>{{ total }} تومان</span>
						</div>
						<div class="flex justify-between">
						  <span>مالیات (سهم شما)</span>
						  <span>۰ تومان</span>
						</div>
						<div class="divider my-2"></div>
						<div class="flex justify-between font-bold text-lg">
						  <span>مبلغ کل</span>
						  <span>{{ total }} تومان</span>
						</div>

						<button class="btn btn-primary w-full mt-6 text-lg">ادامه به پرداخت 💳</button>
						</div>

						{% else %}
						    <p class="text-gray-500 text-center mt-8">سبد خرید شما خالی است 🛍️</p>
					{% endif %}

			    </div>
			</main>
		<!-- /MainContent -->
	{% endblock %}