{% load static %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>ورود به پنل مدیریت</title>
    <link rel="icon" href="{% static 'img/farris-icon-or.png' %}" type="image/x-icon">

  <!-- StylsLinks -->
    <link href="{% static 'css/daisyUI-5.0.49.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!-- DaisyUI-JS -->
    <script src="{% static 'js/index.global.js' %}"></script>
</head>

<body class="bg-base-200 min-h-screen flex items-center justify-center p-4">

    <div class="card w-full max-w-sm sm:max-w-md bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="flex gap-2 text-center text-2xl sm:text-3xl font-bold mb-6">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="26" height="26" fill="currentColor"><path d="M2.99805 21V19H4.99805V4C4.99805 3.44772 5.44576 3 5.99805 3H17.998C18.5503 3 18.998 3.44772 18.998 4V19H20.998V21H2.99805ZM16.998 5H6.99805V19H16.998V5ZM14.998 11V13H12.998V11H14.998Z"></path></svg>
                ورود به پنل مدیریت
            </h2>

            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-error text-sm mb-3">{{ msg }}</div>
                {% endfor %}
            {% endif %}

            <form method="post" class="space-y-4">
                {% csrf_token %}
                
                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text text-base sm:text-lg pb-1">نام کاربری</span>
                    </label>
                    <input type="text" name="username" placeholder="مثلاً admin"
                           class="input input-bordered w-full text-base sm:text-lg" required>
                </div>

                <div class="form-control w-full">
                    <label class="label">
                        <span class="label-text text-base sm:text-lg pb-1">رمز عبور</span>
                    </label>
                    <input type="password" name="password" placeholder="********"
                           class="input input-bordered w-full text-base sm:text-lg" required>
                </div>

                <button type="submit" class="btn btn-primary bg-[#1d5675] w-full mt-3 text-base sm:text-lg">
                    ورود
                </button>
            </form>
        </div>
    </div>

</body>
<!-- <body class="bg-base-200 min-h-screen flex items-center justify-center">

    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="text-center text-2xl font-bold mb-4">ورود به پنل مدیریت</h2>

            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-error text-sm mb-3">{{ msg }}</div>
                {% endfor %}
            {% endif %}

            <form method="post" class="space-y-3">
                {% csrf_token %}
                <label class="form-control w-full">
                    <div class="label"><span class="label-text">نام کاربری</span></div>
                    <input type="text" name="username" placeholder="مثلاً admin" class="input input-bordered w-full" required />
                </label>

                <label class="form-control w-full">
                    <div class="label"><span class="label-text">رمز عبور</span></div>
                    <input type="password" name="password" placeholder="********" class="input input-bordered w-full" required />
                </label>

                <button type="submit" class="btn btn-primary w-full mt-3">ورود</button>
            </form>
        </div>
    </div>

</body> -->
</html>